<h1>My tasks</h1>

  <% @tasks.each do |task| %>
    <% if task.completed %>
      <div class="task-list">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <%= link_to task.title, task_path(task) %>
        <% link_to(task_path(task), options = { method: :delete, data: { confirm: "Are you sure?" } } ) do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    <% else %>
      <div class="task-list">
        <i class="fa fa-square-o" aria-hidden="true"></i>
        <%= link_to task.title, task_path(task) %>
        <%= link_to(task_path(task), options = { method: :delete, data: { confirm: "Are you sure?" } } ) do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>

<%= link_to "Add a new task", new_task_path, class: 'btn btn-primary'%>
